{% include base_path %}

<style type="text/css">
      body {
          /* height: 5000px; */
      }
      
      @media (max-width: 1499px) {
        .back-to-top {
            position: fixed;
            bottom: 40px;
            right: 40px;
            /*color: #FFF; */
            background: #41CAD4 url({{ base_path }}/images/back-to-top.svg) no-repeat center center;
            /*font-size: 28px; */
            /* line-height: 30px; */
            /* line-height: 45px; */
            /*text-align: center; */
            /*text-decoration: none;*/
            width: 50px;
            height: 50px;
            border: 0;
            border-radius: 0%;
            display: none;
            cursor: pointer;
            z-index: 9999;
        }
      }
      @media (min-width: 1500px) {
        .back-to-top {
            position: fixed;
            bottom: 40px;
            right: 8%;
            /*color: #FFF; */
            background: #41CAD4 url({{ base_path }}/images/back-to-top.svg) no-repeat center center;
            /*font-size: 28px; */
            /* line-height: 30px; */
            /* line-height: 45px; */
            /*text-align: center; */
            /*text-decoration: none; */
            width: 50px;   
            height: 50px;
            border: 0;
            border-radius: 0%;
            display: none;
            cursor: pointer;
            z-index: 9999;
        }
      }
      
      .back-to-top:hover {
          background: #2DB6C0 url({{ base_path }}/images/back-to-top.svg) no-repeat center center;
      }
      a.back-to-top:hover{text-decoration:none;}
</style>

<a href="#" class="back-to-top" title="Back To Top"></a>

<script src="{{ base_path }}/assets/js/jquery.min.js"></script>

<script type="text/javascript">
      $(document).ready(function(){ 
          $(window).on('scroll', function() {
              if ($(this).scrollTop() > 300) {
                  $('.back-to-top').fadeIn();
              } else {
                  $('.back-to-top').fadeOut();
              }
          });
          
          $('.back-to-top').on('click', function(e) {
              e.preventDefault();
              $('html,body').animate({scrollTop: 0}, 600);
          });
      });
</script>

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.twitter.username %}
      <li><a href="https://twitter.com/{{ site.twitter.username }}" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    {% endif %}
    {% if site.facebook.username %}
      <li><a href="https://facebook.com/{{ site.facebook.username }}" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="http://github.com/{{ site.author.github }}" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="http://bitbucket.org/{{ site.author.bitbucket }}" target="_blank"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="http://jekyllrb.com" rel="nofollow" target="_blank">Jekyll</a> &amp; <a href="https://github.com/academicpages/academicpages.github.io" target="_blank">AcademicPages</a>, a fork of <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow" target="_blank">Minimal Mistakes</a>.</div>
